{% extends 'base2.html.twig' %}
{% block body %}
<h1 class="text-align-center">{{ oneevent.title }}</h1>
<h2 class="text-align-center">con {{ oneevent.teacher }} presso {{ oneevent.placename }} a {{ oneevent.place }}  </h2>
<h3 class="text-align-center"><em>da</em> {{ oneevent.start|date('D d/m/Y') }} - {{ oneevent.start|date('H:i') }} <em>a</em> {{ oneevent.end|date('D d/m/Y') }} - {{ oneevent.end|date('H:i') }}</h3>
<div>{{ oneevent.body|raw }}</div>
{% endblock %}
