{% extends 'basebookinkprint.html.twig' %}
{% block body %}
<div class="content-wrapper">
  <section class="content">
    <div class="container">
      <h2 class="text-align-center">{{ singleevent.title }} con {{ singleevent.teacher }}</h2>
      <p class="text-align-center">
      a <strong>{{ singleevent.place }}</strong> -
      da <strong>{{ singleevent.start|date('D d/m/Y') }} - {{ singleevent.start|date('H:i') }}</strong>
      a <strong>{{ singleevent.end|date('D d/m/Y') }} - {{ singleevent.end|date('H:i') }}</strong><br />
      {{ singleevent.coursetype }} di {{ singleevent.topic }}
      </p>
      <table width="100%" border="0" class="text-align-left scheda" cellpadding="5" cellspacing="0">
      <tr>
        <th width="25%">
          Nome<br />Telefono<br />Email
        </th>
        <th width="25%">
          Da ...<br />Arriva<br />Riparte
        </th>
        <th width="10%">
          Tipo utente<br />Acconto
        </th>
        <th width="30%">
          Note
        </th>
        <th width="10%">
        ultimo agg.<br />da
        </th>
      </tr>
      {% for entry in booking %}
      <tr>
        <td>
          <img src="{{ asset('bower_components/Ionicons/png/512/person.png') }}" width="18" height="18" alt="Prenotato" /><strong>{{ entry.name }}</strong><br />
          <img src="{{ asset('bower_components/Ionicons/png/512/ios7-telephone.png') }}" width="18" height="18" alt="Telefono" /> {{ entry.phone }}<br />
          {% if entry.email %}
          <img src="{{ asset('bower_components/Ionicons/png/512/email.png') }}" width="18" height="18" alt="Email" />{{ entry.email }}
          {% endif %}
        </td>
        <td>
          {% if entry.comefrom %}
          <img src="{{ asset('bower_components/Ionicons/png/512/home.png') }}" width="18" height="18" alt="Arriva da" /><strong>{{ entry.comefrom }}</strong><br />
          {% endif %}
          {% if entry.arrivale %}
          <img src="{{ asset('bower_components/Ionicons/png/512/log-in.png') }}" width="18" height="18" alt="Arriva il" />{{ entry.arrivale|date('d/m/Y H:i') }}<br />
          {% endif %}
          {% if entry.departure %}
          <img src="{{ asset('bower_components/Ionicons/png/512/log-out.png') }}" width="18" height="18" alt="Riparte il" />{{ entry.departure|date('d/m/Y H:i') }}<br />
          {% endif %}
        </td>
        <td>
          {% if entry.deposit %}
          <img src="{{ asset('bower_components/Ionicons/png/512/android-social.png') }}" width="18" height="18" alt="Acconto" /> {{ entry.usertype }}<br />
          {% endif %}
          {% if entry.deposit %}
          <img src="{{ asset('bower_components/Ionicons/png/512/cash.png') }}" width="18" height="18" alt="Acconto" /> {{ entry.deposit }} €
          {% endif %}
        </td>
        <td>
          {{ entry.note }}
        </td>
        <td>
          {{ entry.created|date('d/m/Y') }}<br />
          {{ entry.created|date('H:i:s') }}<br />
          {{ entry.admin }}
        </td>
      </tr>
      {% endfor %}
      </table>
    </div>
  </section>
</div>
{% endblock %}
